
<body>

  <h1> You searched for <%= params[:q] %></h1>

<pre>
<% @results.inspect %>
</pre>

<div id=base>
  <ul>
<% @results['results'].each do |r| %>
 <li><%= r['text'] %></li>
  <% end %>

  </ul>
  </div>
</body>
