<%= form_for(@tweet) do |form| %>

  <fieldset>

    <legend>Edit a Tweet's Categories</legend>
    <div>
      <%= form.label(:categories_as_string, 'Categories') %>
      <%= form.text_field(:categories_as_string) %>
    </div>

    <%= form.submit %>
  </fieldset>
  <% end %>
