<h1>Tweets in <%= @category.title %></h1>

Categories
(<%= link_to('New', new-category_url, :remote => true) %>)

<div id="form-area"></div>

<ul id="categories">
  <%= render(:partial => 'category', :collection => @categories) %>
</ul>
